@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom global (opsional) */
html,
body,
#root {
  height: 100%;
}
body {
  @apply font-inter;
  background: #f8fafc;
}
